*.pdf
*.log
*.aux
**/auto
*.agdai
*.nav
*.out
*.snm
*.toc
*.vrb
_region_.tex
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.vo
*.vio
*.v.d
.coqdeps.d
*.glob
*.cache
\#*\#
.\#*
*~
*.bak
.coq-native/
build-dep/
Makefile.coq
Makefile.coq.conf
*.crashcoqide
